/*
Theme Name: MediClinic Child
Theme URI: https://mediclinic.qodeinteractive.com/landing
Description: A child theme of MediClinic Theme
Author: Mikado Themes
Author URI: http://themeforest.net/user/mikado-themes
Version: 1.0.2
Text Domain: mediclinic
Template: mediclinic
*/
:root{
    --start-command-blue: #0077B6;
    --cerulean-crayola: #00B4D8;
    --sky-blue-crayola: #90E0EF;
    --powder-blue: #CAF0F8;
}
h1{
    color: #00B4D8!important;
}
h2{
    color: #0077B6!important;
}
.w-100{
    width: 100%;
}
h2.mkdf-widget-title{
    text-align: center!important;
}
.btn-carre a{
    font-size: 1.5rem!important;
    font-weight: 700;
}
.home_comprendre .vc_btn3-container.vc_btn3-center{
    min-height: 110px;
    display: flex;
}
.home_comprendre .vc_btn3-container.vc_btn3-center > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
a.vc_btn3.vc_btn3-color-juicy-pink, a.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    background-color: var(--start-command-blue);
}
a.vc_btn3.vc_btn3-color-juicy-pink:hover,a.vc_btn3.vc_btn3-color-juicy-pink:active, a.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover, a.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:active{
    background-color: var(--cerulean-crayola);
}
.vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper{
    margin-bottom: 30px;
}
.mkdf-header-standard-extended .mkdf-page-header .mkdf-menu-area{
    border-top: 1px solid #90E0EF!important;
}
.mkdf-btn, #mkdf-back-to-top .mkdf-icon-stack, .nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
    background-color: #0077B6!important;
}
footer .mkdf-btn{
    background-color: #00B4D8!important;
}
footer .widget .mkdf-widget-title-holder .mkdf-widget-title{
    color: #00B4D8!important;
}
footer .widget ul li a{
    color: #333333!important;
}
.mkdf-nav-light.tparrows:before{
    color: #00B4D8!important;
}
.a-propos-btn .mkdf-btn.mkdf-btn-solid.mkdf-btn-solid-light{
    font-size: clamp(1.3rem, 1.75rem, 1.7vw);
}
/*Breadcrumb*/
body .mkdf-title .mkdf-title-holder .mkdf-breadcrumbs a, body .mkdf-title .mkdf-title-holder .mkdf-breadcrumbs span{
    color: #90E0EF;
}
.mkdf-logo-wrapper a img.mkdf-normal-logo, .mkdf-mobile-header .mkdf-mobile-logo-wrapper a img{
    width: 100px;
}
.mkdf-logo-wrapper{
    padding-top: 0.5rem;
}
.mkdf-mobile-logo-wrapper{
    padding: 0.1rem;
}