@media only screen and (max-width: 1024px){
/* generated in /home/latitude/html_mnd/wp-content/themes/mediclinic/assets/custom-styles/general-custom-styles-responsive.php mediclinic_mikado_content_responsive_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner { padding-top: 40px!important;}

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 481px) and (max-width: 768px){
}

@media only screen and (max-width: 480px){
}